<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sample website</title>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <h1>Welcome to the homepage!</h1>
    <button class="btn" type="button"><a href="./form.html">Go to form page</a></button>
    <p>
        I actually created this site for practicing routing concept in node.js.
    </p>
</body>
</html>